<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Tiny Chronicler</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
  <header class="header">
    <h1 class="logo">Tiny Chronicler</h1>
    <nav class="navigation">
      <ul>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/chronicles">Chronicles</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
  {% block content %}
  {% endblock %}
  </main>
  <footer>
    <small>v{{VERSION}}</small>
  </footer>
</body>
</html>
